/dts-v1/;
/plugin/;

/ {

	model = "Qualcomm Technologies, Inc. Lahaina MTP";
	compatible = "qcom,lahaina-mtp", "qcom,lahaina", "qcom,mtp";
        qcom,board-id = <0x20108 0>;
        oppo,dtsi_no = <0x5093>;
        oplus,dtsi_no = <21617>;

        __fixups__{};

};

&apps_rsc {
    compatible = "qcom,rpmh-rsc";
};
